<h4>Board Name: <%= @board.topic %></h4>

<h3>Board Messages</h3>




<%# Update Board Topic %>
<p><a href="/board/<%= @board.id %>/edit">Change Topic Name</a>
<p><a href="/boards">Return to Topic list</a></p>